---
const { title, body } = Astro.props;
---

<div
  class="bg-[var(--card-color)] rounded-xl overflow-hidden h-[200px] mx-auto hover:bg-[var(--primary-color-hover)] cursor-pointer relative"
>
  <div class="grid grid-cols-[1.5fr_1fr] h-full">
    <div class="flex flex-col gap-4 overflow-hidden">
      <h1>{title}</h1>
      <p>A small blog on onePiced</p>
    </div>
    <div
      class="bg-cover bg-center bg-no-repeat h-full w-full"
      style="background-image: url('/slides/slide-1.avif');"
    >
    </div>
  </div>
</div>
