---
import type { map } from "astro:schema";
import BlogCard from "./BlogCard.astro";
import { getCollection } from "astro:content";
const blogs = await getCollection("blogs");
---

<div class="flex flex-col gap-4 w-screen">
  {
    blogs.map((blog) => (
      <BlogCard title={blog.data.title} body={blog.data.body} />
    ))
  }
</div>
