---
import { Icon } from "astro-icon/components";
import ThemeButton from "./controllers/ThemeButton.astro";
---

<nav id="nav" class="flex items-center justify-between">
  <button id="menu-switcher" type="button">
    <Icon
      id="menu-icon-closed"
      size={24}
      name="line-md:close-to-menu-transition"
      class="mx-auto"
    />
    <!-- <Icon
      id="menu-icon-opened"
      size={24}
      name="line-md:menu-to-close-transition"
      class="mx-auto hidden"
    /> -->
  </button>
  <h1 id="Logo">
    <a href="/">Animee</a>
  </h1>
  <div class="flex">
    <ThemeButton />
    <div id="user">
      <button id="signup-button" class="hidden">
        <a href="/auth/signup">Sign Up</a>
      </button>
      <img id="profile-icon" class="" />
    </div>
  </div>

  <script>
    import { isLoggedIn } from "../store/userStore";

    const userElem = document.getElementById("user") as HTMLElement;
    const profileIcon = document.getElementById(
      "profile-icon"
    ) as HTMLImageElement;
    const signupButton = document.getElementById(
      "signup-button"
    ) as HTMLElement;

    isLoggedIn.subscribe((user) => {
      if (user) {
        profileIcon.classList.remove("hidden");
        signupButton.classList.add("hidden");
        const user = JSON.parse(localStorage.getItem("user")!);
        profileIcon.src =
          user.image ??
          `https://ui-avatars.com/api/?name=${user.fullname.split(" ")[0]}+${user.fullname.split(" ")[1]}`;
      } else {
        profileIcon.classList.add("hidden");
        signupButton.classList.remove("hidden");
      }
    });
  </script>
</nav>
