---
import "./navbar.scss";
---

<div id="navbar">
  <h1 id="logo">Animee</h1>
  <div id="navigations">
    <ul id="nav-list">
      <li class="nav-item"><a href="/blogs">All Blogs</a></li>
      <li class="nav-item"><a href="/about">About</a></li>
      <li class="nav-item">
        <a
          href="https://github.com/RakshitGumber/CODSOFT/tree/main/blog-platform"
          >GitHub</a
        >
      </li>
    </ul>
    <div class="avatar">
      <img src="/avatars_temp/avatar-2.png" alt="Rakshit" />
    </div>
  </div>
</div>
