@import "../../styles/variables";

#navbar {
  top: 0;
  position: absolute;
  z-index: 50;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4px);

  padding: 16px 5%;

  text-transform: uppercase;
  @media only screen and (min-width: 600px) {
  }

  @media only screen and (min-width: 768px) {
    padding: 16px 5%;
  }
  @media only screen and (min-width: 992px) {
  }
  @media only screen and (min-width: 1200px) {
    height: 123px;
    padding: 32px 10%;
  }
}

#logo {
  font-family: "Montserrat", "Outfit", sans-serif;
  font-weight: 800;
  color: $accent;
  font-size: 2.2rem;

  @media only screen and (min-width: 600px) {
  }
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 992px) {
    font-size: 2.5rem;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 3rem;
  }
}

#navigations {
  justify-content: space-between;
  align-items: center;
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

ul#nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;

  .nav-item {
    cursor: pointer;

    a {
      font-weight: bold;
      font-family: "Montserrat", "Outfit", sans-serif;

      transition: all 0.1s linear;
      @media only screen and (min-width: 768px) {
        font-size: 16px;
        padding: 8px;
      }
      @media only screen and (min-width: 992px) {
        font-size: 20px;
      }
      @media only screen and (min-width: 1200px) {
        font-size: 24px;
        padding: 8px 16px;
      }
    }
    :hover {
      color: black;
      background: $accent;
    }
  }

  @media only screen and (min-width: 768px) {
    .nav-item {
      margin: 0 16px;
    }
  }
  @media only screen and (min-width: 992px) {
    .nav-item {
      margin: 0 16px;
    }
  }
  @media only screen and (min-width: 1200px) {
    margin-right: 40px;

    .nav-item {
      margin: 0 16px;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-items: center;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
}

#mobile-navigation {
  position: absolute;

  top: 79px;
  padding-bottom: 16px;
  left: 0;
  z-index: 50;
  width: 100vw;
  display: none;
  gap: 12px;
  flex-direction: column;
  background-color: #00000098;
  backdrop-filter: blur(4px);

  div {
    width: 100vw;
    padding: 10px 5%;
    a {
      width: 100vw;

      button {
        padding: 8px 20px;
      }
    }
  }

  #login {
    background-color: $accent;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

#menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: $text-color;
  padding: 10px;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}
