@import "../../styles/variables";

#links {
  display: flex;
  width: 100vw;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-top: 2px solid $accent;
  border-bottom: 2px solid $accent;

  background-color: #d85a2480;
  a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;

    @media only screen and (min-width: 768px) {
      font-size: 1.2rem;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }

  @media only screen and (min-width: 768px) {
    height: 65px;
    gap: 24px;
  }

  @media only screen and (min-width: 1200px) {
    height: 80px;
    gap: 32px;
  }
}
