---
import { getCollection } from "astro:content";

const blogs = await getCollection("blogs");
---

<ul>
  {
    blogs.map((blog) => (
      <li>
        <a href={`/blog/${blog.id}`}>{blog.data.title}</a>
      </li>
    ))
  }
</ul>
