---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/login.scss";
---

<MainLayout title="Animee | Log In">
  <button class="back-button">
    <a href="../">&lt;_</a>
  </button>
  <form id="login-form">
    <div class="form-header">
      <h1>Welcome Back</h1>
      <span>Enter email, password to enter your account</span>
    </div>
    <div class="input-box">
      <label for="email">Email</label>
      <input type="text" placeholder="email" name="email" />
    </div>
    <div class="input-box">
      <label for="password">Password</label>
      <input type="password" placeholder="password" name="password" />
    </div>
    <button id="signup" class="submit-button">Submit</button>
    <span>New User? <a href="./signup">Sign Up</a></span>
  </form>
</MainLayout>

<script>
  const password = document.querySelector("input[name=password]")!;
  const email = document.querySelector("input[name=email]")!;
  const signupButton = document.getElementById("signup")!;

  signupButton.addEventListener("click", async (e) => {
    e.preventDefault();
  });
</script>
