---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/login.scss";
---

<MainLayout title="Animee | Log In">
  <button class="back-button">
    <a href="../">&lt;_</a>
  </button>
  <form id="login-form">
    <div class="form-header">
      <h1>Create Account</h1>
      <span>Create an account now for free</span>
    </div>
    <div class="input-box">
      <label for="email">Email</label>
      <input type="text" placeholder="email" name="email" />
    </div>
    <div class="input-box">
      <label for="username">UserName</label>
      <input type="text" placeholder="username" name="username" />
    </div>
    <div class="input-box">
      <label for="fullname">Full Name</label>
      <input type="text" placeholder="full name" name="fullname" />
    </div>
    <div class="input-box">
      <label for="password">Password</label>
      <input type="password" placeholder="password" name="password" />
    </div>
    <button id="signup" class="submit-button">Submit</button>
    <span>Already a user? <a href="./login">Login</a></span>
  </form>
</MainLayout>

<!-- <script>
  import { signup } from "../../api";
  const username = document.querySelector(
    "input[name=username]"
  ) as HTMLInputElement;
  const password = document.querySelector(
    "input[name=password]"
  ) as HTMLInputElement;
  const fullname = document.querySelector(
    "input[name=fullname]"
  ) as HTMLInputElement;
  const email = document.querySelector("input[name=email]") as HTMLInputElement;
  const signupButton = document.getElementById("signup") as HTMLElement;

  signupButton.addEventListener("click", async (e) => {
    e.preventDefault();
    const response = await signup({
      username: username.value,
      password: password.value,
      fullname: fullname.value,
      email: email.value,
    });

    if (response.status === 200) {
      return (location.href = "/");
    }
    console.log(response);
  });
</script> -->
