<div class="">
  <div>
    <label for="title">Title</label>
    <input type="text" placeholder="title" name="title" />
  </div>
  <textarea name="body" id="body" class="border" placeholder="Enter a text"
  ></textarea>
  <button id="submit">Submit</button>
</div>
