---
import { getCollection } from "astro:content";
import BlogCard from "../BlogCard/BlogCard.astro";
const blogs = await getCollection("latest");
---

{
  blogs.splice(0, 6).map((blog) => (
    <div class="card-md">
      <BlogCard data={blog} />
    </div>
  ))
}
