---
const { header } = Astro.props;
---

<div class="section">
  <div class="container">
    <h1 id={header} class="section-heading">{header}</h1>
    <div class="layout">
      <slot />
    </div>
  </div>
</div>

<style lang="scss">
  .section {
    margin: 2rem 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-heading {
      width: 100%;
      text-align: left;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2rem;

      @media only screen and (min-width: 768px) {
        font-size: 3rem;
      }
      @media only screen and (min-width: 992px) {
        font-size: 3.5rem;
      }
      @media only screen and (min-width: 1200px) {
        font-size: 4rem;
      }
    }
    .layout {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2rem;
    }
  }
</style>
