---
import { getCollection } from "astro:content";
import BlogCard from "../BlogCard/BlogCard.astro";
const blogs = await getCollection("trending");
---

<div id="layout">
  {
    blogs.splice(0, 4).map((blog, index) => (
      <div class="card-md card-col">
        <BlogCard data={blog} />
      </div>
    ))
  }
</div>

<style>
  #layout {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
  }
</style>
