---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Banner from "../components/Banner/Banner.astro";
import Links from "../components/Links/Links.astro";
import Section from "../components/Sections/Section.astro";
import Latest from "../components/Sections/Latest.astro";
import Trending from "../components/Sections/Trending.astro";
import Create from "../components/Sections/Create.astro";
---

<MainLayout title="animee">
  <Navbar />
  <Banner />
  <Links />
  <Section header="Create">
    <Create />
  </Section>
  <Section header="Trending"><Trending /></Section>
  <Section header="Latest"><Latest /></Section>
</MainLayout>
