---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Animee">
  <NavBar />
  <button id="create">Create</button>
</Layout>

<script>
  import { isLoggedIn } from "../store/userStore";

  const findUser = () => {
    const user = localStorage.getItem("user");
    if (user) isLoggedIn.set(true);
    else isLoggedIn.set(false);
  };

  document.addEventListener("DOMContentLoaded", findUser);
</script>

<script>
  const create = document.getElementById("create") as HTMLElement;
  create.addEventListener("click", () => {
    location.href = "/create";
  });
</script>
