@import "tailwindcss";
@import "overlayscrollbars/overlayscrollbars.css";
@import "../styles/scrollbar.css";

:root {
    --primary-color: oklch(70% 0.15 300);
    --primary-color-lighten: oklch(95% 0.02 300);
    --primary-color-hover: oklch(90% 0.025 300);
    --primary-color-transparent: oklch(70% 0.15 300 / 15%);
    --text-color: oklch(30% 0 0);
    --text-color-lighten: oklch(50% 0 0);
    --card-color: oklch(100% 0 0);
    --card-color-transparent: oklch(100% 0 0 / 85%);
    --background-color: oklch(97% 0.01 300);

    --brand-font: "Raleway", "Noto Sans SC", sans-serif;
    --primary-font: "Noto Sans SC", sans-serif;
    --code-font: "JetBrains Mono", "Fira Code", monospace;

    --page-width-lg: 992px;
    --page-width-xl: 1264px;
    --banner-height: 55vh;

    --title-font: var(--brand-font);
    --title-color: oklch(100% 0 0 / 95%);
    --subtitle-font: var(--brand-font);
    --subtitle-color: oklch(100% 0 0 / 85%);

    --onload-animation-delay: 100ms;
    --onload-animation-interval: 100ms;
}

:root.dark {
    --primary-color: oklch(70% 0.125 300);
    --primary-color-lighten: oklch(40% 0.04 300);
    --primary-color-hover: oklch(20% 0.015 300);
    --text-color: oklch(95% 0.002 300);
    --text-color-lighten: oklch(90% 0.002 300);
    --card-color: oklch(25% 0.02 300);
    --card-color-lighten: oklch(40% 0.04 300);
    --card-color-transparent: oklch(30% 0.025 300 / 85%);
    --background-color: oklch(17.5% 0.015 300);
}

html {
    @apply bg-[var(--background-color)] text-[var(--text-color)];
}
