@import "./variables";
@import "./scrollbar";
@import "./button";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  background: none;
  color: $text-color;
  font-size: 1rem;
  font-weight: normal;
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
  background-color: $background;
  color: $text-color;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
